<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kf5.sdk">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <activity
            android:name=".system.image.ImageSelectorActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".helpcenter.ui.HelpCenterActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".helpcenter.ui.HelpCenterTypeActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".helpcenter.ui.HelpCenterTypeDetailsActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".helpcenter.ui.HelpCenterTypeChildActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".ticket.ui.LookFeedBackActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".ticket.ui.FeedBackDetailsActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".system.ui.ImageActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".ticket.ui.OrderAttributeActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".ticket.ui.FeedBackActivity"
            android:theme="@style/KF5AppTheme">
        </activity>
        <activity
            android:name=".im.ui.KF5ChatActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/KF5AppTheme">
        </activity>

        <service
            android:name=".im.service.MessageService"
            android:enabled="true"
            android:process=":lqRemote">
            <intent-filter>
                <action android:name="com.kf5.sdk.im.service.MessageService"/>
            </intent-filter>
        </service>

        <activity android:name=".ticket.ui.RatingActivity"
                  android:theme="@style/KF5AppTheme"
        />
    </application>

</manifest>