<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chosen.album">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".ui.MatisseActivity" />
        <activity android:name=".internal.ui.AlbumPreviewActivity" />
        <activity android:name=".internal.ui.SelectedPreviewActivity" />
    </application>
</manifest>
